* {
  box-sizing: border-box;
}

html {
  background-color: darkkhaki;
}

h1 {
  padding-left: 20px;
}

h3 {
  padding-left: 15px;
}

body {
  margin: 16px auto;
  width: 80%;
}

.header {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list li {
  padding-left: 10px;
  padding-right: 10px;
}

.list {
  display: flex;
  list-style: none;
  padding-right: 20px;
 }

.navigation {
  display: flex;
}

.avatar {
  margin: 10px 20px;
  border-radius: 90px;
}

a {
  color: #000;
  text-decoration: none;
}

.title {
  font-style: italic;
  padding: 10px;
  margin: auto;
}

.navigation {
  font-size: 20px;
}

.main {
  margin: 0 auto;
  background-color: aqua;
}

.footer {
  background-color: cadetblue;

}

.communications {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0px 25px 20px;
}

.contacts-image {
  padding-right: 5px;
}

.contacts-link {
  display: flex;
  align-items: center;
}

.languages-list {
  margin-bottom: 0;
  padding-bottom: 32px;
}

div {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

.year {
  margin: 0;
  padding-top: 40px;
}

.footer-link {
  margin-right: 50px;  
}

.skills-list{
  list-style: none;
  }

.skills-list-item {
  display: flex;
  align-items: center;
  }